<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>MathriX by ixxra</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="opt/jquery/jquery.js"></script>
    <script src="javascripts/respond.js"></script>


    <!--Bootstraping app-->
    <link href="opt/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/app-style.css" rel="stylesheet">
    <script type="text/javascript" src="opt/math.js">
    </script>


    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/ixxra/mathrix">View On GitHub</a></li>
          <li class="downloads"><a href="https://github.com/ixxra/mathrix/zipball/master">ZIP</a></li>
          <li class="downloads"><a href="https://github.com/ixxra/mathrix/tarball/master">TAR</a></li>
          <li class="title">DOWNLOADS</li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>Mathrix</h1>
          <p>Testing matrix manipulation with javascript</p>
          <hr>
          <span class="credits left">Project maintained by <a href="https://github.com/ixxra">ixxra</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
        </div>
      <div id="welcome">
        <h3>
          <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome to the MathriX.</h3>
        <p>
        This is an example app of what can be done with math.js. It is far from complete, we aim to develop a mobile friendly user interface to make <em>elemental row operations</em> in matrices. 
  Have Fun!
        </p>
      </div>
    </section>
<section class="container" ng-app="Mathrix">        
  <div class="row" ng-controller="MathController as ctrl">
    <div class="col-md-6">
        <h1>Math.js</h1>
      <div class="row">
        <div class="button-group pull-right">
          <button 
            type="button" 
            class="btn btn-danger"
            ng-click="ctrl.run();"
            >Run
          </button>               
        </div>
      </div>
      <div class="row">
        <div 
          ui-ace="{
            theme: 'monokai',
            mode: 'javascript'
          }"
 
          ng-model="ctrl.inputCode"
        ></div>                 
      </div>
    </div>
    <div class="col-md-6">
      <h1>Result</h1>
      <textarea class="form-control" ng-model="ctrl.outputResult">
      </textarea>
    </div>
  </div>
</section>

<h3>
<a id="authors-and-contributors" class="anchor" href="#authors-and-contributors" aria-hidden="true"><span class="octicon octicon-link"></span></a>Authors and Contributors</h3>

<p>You can <a href="https://github.com/blog/821" class="user-mention">@mention</a> a GitHub username to generate a link to their profile. The resulting <code>&lt;a&gt;</code> element will link to the contributor's GitHub Profile. For example: In 2007, Chris Wanstrath (<a href="https://github.com/defunkt" class="user-mention">@defunkt</a>), PJ Hyett (<a href="https://github.com/pjhyett" class="user-mention">@pjhyett</a>), and Tom Preston-Werner (<a href="https://github.com/mojombo" class="user-mention">@mojombo</a>) founded GitHub.</p>

<!--[if !IE]><script>fixScale(document);</script><![endif]-->
    

<!--Bootstraping app-->
<script src="opt/bootstrap/js/bootstrap.min.js"></script>
<script src="opt/ace/ace.js" type="text/javascript" charset="utf-8">
</script>
<script src="opt/angular/angular.js"></script>
<script src="opt/angular-ui-ace/ui-ace.js"></script>
<script src="javascripts/app.js"></script>
</body>
</html>
